<div class="orbit no-margin-top" role="region" aria-label="banner" data-orbit>
  <div class="orbit-wrapper">
    <ul class="orbit-container">
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to "/budgets/2", title: "Presupuestos Participativos 2023" do %>
            <%= image_tag('slider/banner_presupuestos_participativos_2023.jpg', class: 'orbit-image', alt: 'Presupuestos Participativos 2023') %>
          <% end %>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to "/polls/elige-la-tematica-del-carnaval-de-arucas-2023", title: "Elige la temática del carnaval de Arucas 2023" do %>
            <%= image_tag('slider/carnaval-arucas.jpg', class: 'orbit-image', alt: 'Elige la temática del carnaval de Arucas 2023') %>
          <% end %>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to "/debates/2-servicios-o-actividades-para-nuestros-mayores", title: "Debate sobre servicios y actividades para nuestros mayores" do %>
            <%= image_tag('slider/slide2.jpg', class: 'orbit-image', alt: 'Debate sobre servicios y actividades para nuestros mayores') %>
          <% end %>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to "/zona-libre-de-humos-playas", title: "Zona libre de humos en nuestras playas" do %>
            <%= image_tag('slider/slide1.jpg', class: 'orbit-image', alt: 'Zona libre de humos en nuestras playas') %>
          <% end %>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to budgets_path, title: t("devise_views.shared.links.signup_link") do %>
            <%= image_tag('slider/slide3.jpg', class: 'orbit-image', alt: 'Participa') %>
          <% end %>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to budgets_path, title: t("devise_views.shared.links.signup_link") do %>
            <%= image_tag('slider/slide4.jpg', class: 'orbit-image', alt: 'Participa') %>
          <% end %>
        </figure>
      </li>
    </ul>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">Elige la temática del carnaval de Arucas 2023.</span></button>
      <button data-slide="1"><span class="show-for-sr">Debate sobre servicios y actividades para nuestros mayores.</span></button>
      <button data-slide="2"><span class="show-for-sr">Zona libre de humos en nuestras playas.</span></button>
      <button data-slide="3"><span class="show-for-sr">Participa.</span></button>
      <button data-slide="4"><span class="show-for-sr">Participa.</span></button>
    </nav>
  </div>
</div>
